/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }
 */

#sidebar{
    max-width: 30%;
}

#searchCityBtn{
    border-radius: 2rem;
    margin : 3px 3px 3px 3px;
}


#results{
    height: auto;
}


#currentWeather{
    border-style: solid;
    margin-top:30px;
    border-color: darkgrey;
}

#currentCity{
    font-size: xx-large;
}
#icon{
    height: 100px;
    width: 100px;
}

#currentUV{
    color: white;
    background-color: red;
}

